#photos{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 1.5rem 0;
}

.photo-div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-div img{
    width: 100%;
}

.photo-div span{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: .9rem;
}

#text{
    padding: 0 1rem 1rem 1rem;
}

#text p{
    text-indent: 25px;
    font-size: 1.1rem;
}

#text p::first-letter{
    font-size: 1.3rem;
}