body{
    padding: 0 0.4rem;
}

h1{
    display: block;
    width: 100%;
    padding-left: 1rem;
}

h2{
    display: block;
    width: 100%;
    padding-left: 1rem;
}

#div-miniatura{
    height: 290px;
    flex-direction: column;
}

#exibir-miniatura{
    max-height: 80px;
}

#div-miniatura img,
#div-miniatura input,
#div-miniatura button{
    margin: 10px 0;
}

#image{
    display: none;
}

#label-miniatura{
    padding: 6px;
    border: 1px solid #222222;
    border-radius: 8px;
}

#label-miniatura:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#label-miniatura i{
    margin-right: 10px;
}

#div-miniatura button{
    background: var(--dark-green);
    color: #fff;
    font-size: 1.3rem;
    width: 8rem;
    height: 2rem;
    border-radius: 6px;
    margin-top: .6rem;
    border: none;
}

#div-miniatura button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#div-text{
    flex-direction: column;
    padding: 1rem;
}

#div-text input{
    margin-bottom: 1.5rem;
}

#div-text #send{
    background: var(--dark-green);
    color: #fff;
    font-size: 1.3rem;
    width: 8rem;
    height: 2rem;
    border-radius: 6px;
    margin-top: .6rem;
    border: none;
    margin-left: 45%;
}

#div-text #send:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.error-message {
    background-color: rgb(223, 155, 155) !important;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-message {
    background-color: rgb(163, 223, 155) !important;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-text{
    border-bottom: 1px solid #222222;
    border-radius: 8px;
    height: 30px;
    transition: all 0.3s;
}

.input-text:focus{
    border: none;
    border-radius: 8px;
    height: 40px;
    background-color: #fff;
    color: #000;
}

#div-text label,
#div-text #select-text{
    color: #232323;
    font-size: 1.3rem;
}

#category{
    border: 1px solid var(--blue-gray);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.6rem 0.5rem;
    margin-bottom: 1rem;
}

#textarea{
    height: 400px;
}

#div-active{
    margin-bottom: 1.5rem;
}

#active{
    color: #232323;
    font-size: 1.3rem;
    margin-right: 1rem;
}

/**/
#toggle {
    display: none;
    margin: 0 !important;
}
#toggle:checked + #label-toggle {
    background-color: var(--olive-green);
}
#toggle:checked + #label-toggle:before {
    transform: translateX(26px);
    background-color: var(--white);
}

#label-toggle {
    display: flex;
    width: 60px;
    height: 30px;
    border: 3px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
}
#label-toggle:before {
    transition: transform 0.75s ease;
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #000;
    border-radius: 50%;
    top: 3px;
    left: 4px;
}