body{
    min-height: 100vh;
    background-color: none;
    background-image: url(./../img/fundo.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-input{
    display: flex;
    flex-direction: column;
}

#external-div-form{
    position: relative;
    left: 20%;
    top: 20vh;
    width: 60%;
    min-height: 50vh;
}

#exibir-miniatura{
    max-height: 80px;
}

#label-miniatura{
    padding: 6px;
    border: 1px solid #222222;
    border-radius: 8px;
}

#label-miniatura:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#label-miniatura i{
    margin-right: 10px;
}

#miniatura{
    display: none;
}

#div-miniatura{
    flex-direction: column;
}

#div-miniatura img,
#div-miniatura input,
#div-miniatura button{
    margin: 10px 0;
}

#div-miniatura button{
    background: var(--dark-green);
    color: #fff;
    font-size: 1rem;
    width: 6rem;
    height: 1.4rem;
    border-radius: 6px;
    margin-top: .6rem;
    border: none;
}

#div-miniatura button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
/***********************************/
#form-input{
    display: flex;
    flex-direction: column;
}

#form-input #send{
    background: var(--dark-green);
    color: #fff;
    font-size: 1.3rem;
    width: 8rem;
    height: 2rem;
    border-radius: 6px;
    margin-top: .2rem;
    border: none;
}

#form-input #send:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.input-text{
    font-size: 1.2rem;
    border-bottom: 1px solid #222222;
    padding-left: .5rem;
    border-radius: 8px;
    height: 40px;
    width: 90%;
    transition: all 0.3s;
    margin: 0.4rem 0 1rem 0;
}

.input-text:focus{
    border: none;
    border-radius: 8px;
    height: 50px;
    background-color: #fff;
    color: #000;
}

#form-input label,
#form-input #select-text{
    color: #232323;
    font-size: 1.6rem;
    font-weight: bolder;
}

#type{
    border: 1px solid var(--blue-gray);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.6rem 0.5rem;
    margin-bottom: .4rem;
}

@media screen and (max-width: 1000px){
    #external-div-form{
        position: relative;
        left: 5%;
        top: 10vh;
        width: 90%;
        min-height: 30vh;
    }

    #label-miniatura{
        font-size: 1.8rem;
    }

    #div-miniatura button{
        font-size: 1.8rem;
        width: 8rem;
        height: 2.5rem;
    }

    #exibir-miniatura{
        max-height: 160px;
    }

    .input-text{
        font-size: 1.8rem;
        width: 100%;
        height: 50px;
    }

    .input-text:focus{
        height: 60px;
    }

    #form-input label,
    #select-text{
        color: #232323;
        font-size: 2rem;
        font-weight: bolder;
    }

    #send{
        width: 6rem;
        height: 1.4rem;
        font-size: 1rem;
    }
}