<div class="row w-100 column p-1">
    <div class="col-10 box-shadow p-1">
        <h1>Sobre Nós</h1>
        <div class="w-100" id="photos">
            <div class="photo-div">
                <img src="/Resources/img/rafa.png" alt="homem esquisito" class="rounded">
                <span>Rafael</span>
            </div>
            <div class="photo-div">
                <img src="/Resources/img/augusto.png" alt="homem segurando peixe" class="rounded">
                <span>Augusto</span>
            </div>
            <div class="photo-div">
                <img src="/Resources/img/antonio.png" alt="homem lindo" class="rounded">
                <span>Antonio</span>
            </div> 
        </div>
        <div id="text">
            <p>
                O projeto Agroblog surgiu de uma ideia cujo tema principal é de promover a interação, a informação e o
                compartilhamento de experiências entre agricultores e pescadores. A falta de conhecimento de seus
                produtores em ambas as áreas podem causar uma série de problemas e uma grande defasagem em suas
                produções, tudo isso acarretando em uma aquacultura e uma agronegócio improdutivos.
            </p><br>
            <p>
                O grupo que produziu tal projeto, são técnicos de informática em formação, que vivem na região oeste do 
                Paraná, onde a pesca e a agricultura estão presentes no dia-a-dia. Vendo a falta de informações para consulta 
                desse ramo, decidiram então produzir um blog cujo foi dado a alcunha de Agroblog.
            </p><br>
            <p>
                Antonio é um aficionado por tecnologia, desde a infância, onde desde os 7 anos já pesquisava por conteúdos na internet
                para saber como funcionavam as coisas, e a partir dos 10 anos, fez cursos de informática, onde adquiriu seus primeiros 
                conhecimentos técnicos de softwares e hardwares.
            </p><br>
            <p>
                Rafael é estudante do curso técnico em informática no IFPR - Campus Foz do Iguaçu. Trabalha com programação desde 2019, 
                quando começou com pequenas automatizações em planilhas e padronização de dados no ITAI, até estagiar no marketplace Portal 
                Vegano como desenvolvedor PHP.
            </p><br>
            <p>
                Augusto de Antoni Pavlak ingressou no meio computacional muito cedo, tudo isso devido sua curiosidade e interesse por essa 
                esfera. Atualmente está cursando técnico em informática no IFPR - Campus Foz do Iguaçu.
            </p><br>
            <p>
                Todos os integrantes do grupo ingressaram no IFPR em 2018, onde cursam o ensino médio junto ao curso técnico em informática. 
                Para conclusão do mesmo, se faz necessário a produção de um PFC (Projeto Final de Curso), para tal foi decidido criar esse 
                projeto, com orientação de dois professores, Jeferson de Oliveira Chaves e Marcela Turim Koschevic, ambos mestres na área 
                de informática
            </p><br>
        </div>
    </div>
</div>