<div class="row w-100 column p-1">
    <div class="col-10 box-shadow p-1">
        <h1>Sobre Nós</h1>
        <div class="w-100" id="photos">
            <img src="./img/rafa.png" alt="homem esquisito" class="rounded">
            <img src="./img/augusto.png" alt="homem segurando peixe" class="rounded">
            <img src="./img/antonio.png" alt="homem lindo" class="rounded">
        </div>
        <div id="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque felis ut dui lobortis
                sagittis. Integer finibus libero in rutrum vestibulum. Aenean ante lorem, auctor at ante eget,
                blandit consequat eros. Curabitur posuere justo bibendum lorem vehicula ultricies. Aliquam quis dui
                a magna mattis rhoncus. Aliquam a enim efficitur ipsum iaculis blandit. Nam malesuada tellus ac orci
                lacinia, vitae fermentum lacus rutrum. Pellentesque ultrices, magna ac bibendum imperdiet, nunc
                sapien molestie sem, in tincidunt ante diam eget metus. Nunc luctus sapien nisi, quis gravida leo
                gravida tincidunt. Nam eget nisl porta, suscipit nibh eu, pellentesque erat. Nulla elit urna,
                accumsan eget neque id, bibendum posuere augue. Nullam ullamcorper euismod augue, vitae euismod
                ipsum imperdiet eget. Cras porttitor est ac lobortis tristique.
            </p><br>
            <p>
                Maecenas at efficitur libero. Ut elementum sollicitudin sem sit amet vehicula. Praesent blandit
                fermentum tortor maximus vulputate. Integer nec lacinia sapien. Suspendisse accumsan lorem et ante
                suscipit, sed pretium massa egestas. Pellentesque eu rhoncus erat, et finibus orci. Nunc iaculis
                eleifend gravida. Nunc a est eget arcu interdum rutrum. Sed cursus sem ut ornare placerat. Morbi
                auctor ac mauris at tempus. Mauris lorem nisi, hendrerit at imperdiet et, interdum at mi. Ut
                eleifend est nec finibus accumsan.
            </p><br>
            <p>
                Suspendisse mauris elit, lobortis nec tincidunt vitae, convallis imperdiet diam. Mauris varius sit
                amet justo vitae maximus. Nullam viverra orci nec lorem posuere, sed condimentum nibh pellentesque.
                Duis bibendum augue et massa porta, eget condimentum ex tempor. Nullam non fringilla sapien, auctor
                venenatis dolor. Vestibulum rutrum, urna nec tincidunt posuere, justo tellus dapibus quam, nec
                sodales magna neque sed lectus. Sed quam quam, posuere at quam quis, auctor sodales arcu. Maecenas
                sollicitudin massa at quam elementum maximus.
            </p><br>
            <p>
                Nulla eleifend sagittis mauris, nec consectetur eros. Nam placerat sollicitudin porttitor. Curabitur
                ut neque eget lorem euismod auctor at nec mauris. Proin vulputate pretium eros, vitae posuere velit
                tincidunt consequat. In volutpat, nibh eget pharetra feugiat, velit sem placerat lectus, in
                ultricies eros mauris eget elit. Morbi sed ligula dictum, semper sapien id, bibendum justo. Nullam
                eleifend urna in quam congue dignissim. In pulvinar nisl odio, id vestibulum augue facilisis non.
            </p><br>
            <p>
                Vestibulum eget velit sed enim placerat varius in non neque. Proin eu pharetra mauris, in dapibus
                lectus. In tincidunt odio eget velit semper tempus. Nam auctor et velit quis dapibus. Pellentesque
                id semper massa, id vehicula nunc. Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum
                primis in faucibus. Nam faucibus libero turpis, ut dignissim metus aliquet quis. Vestibulum
                dignissim sollicitudin enim vitae consectetur. Aliquam volutpat congue orci. Pellentesque at justo
                volutpat, laoreet dolor vel, tempor tortor. Integer nec purus commodo tellus aliquet ultrices nec in
                tellus. Nam ac orci imperdiet, ullamcorper velit nec, luctus mi. Sed congue nisl et libero pulvinar,
                nec hendrerit lorem elementum. Maecenas tempor ante nec feugiat mollis. Sed vitae felis in turpis
                efficitur convallis at ut orci.
            </p>
        </div>
    </div>
</div>