<div class="row w-100">
    <section class="col-10 p-dt-1">
        <div class="box-shadow-dt bg-white p-1">
            <div class="row w-100">
                <div class="col-dt-3 col-mb-10 p-1">
                    <div class="row w-100">
                        <div class="col-10 center">
                            <img class="rounded photo" src="{{imageSrc}}" alt="{{imageAlt}}" loading="lazy">
                        </div>
                    </div>
                    <h1 class="w-100 center autor-name">{{autor}}</h1>
                    <div class="row w-100 space-between">
                        <img src="{{facebookLink}}" alt="logo facebook" loading="lazy">
                        <img src="{{instagramLink}}" alt="logo instagram" loading="lazy">
                        <img src="{{twitterLink}}" alt="logo twitter" loading="lazy">
                    </div>
                </div>
                <div class="col-dt-7 col-mb-10 pt-dt-5">
                    <p class="text">
                        {{text}}
                    </p>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-10 p-1">
                    <h2 class="w-100 center">Últimos posts</h2>
                </div>
                {{lastPosts}}
            </div>
        </div>
    </section>
</div>