<div class="row w-100 pb-1">
    <div class="p-1 w-100" id="principal">
        <div id="compass">
            <div id="circle"></div>
            <div id="handle"></div>
        </div>
        <h1>Busca por: <span>{{search}}</span></h1>
        <p class="busca-autor">{{searchAuthor}}</p>
        <p class="busca-autor">{{searchCategory}}</p>
    </div>
    <section class="col-dt-7 col-mb-10 px-1">
        <div class="box-shadow p-1">
            <div class="row w-100 space-between mb-1">
                <p id="qntd_search" class="center">{{qtd}} posts <span>encontrados</span></p>
                <div id="order_div" class="center">
                    <p>Ordenar por:</p>
                    <form action="/busca" method="get">
                        {{extraOrderFields}}
                        <select name="order" id="order" onchange="this.form.submit()">
                            {{dropdownOptions}}
                        </select>
                    </form>
                </div>
            </div>

            <div class="row w-100">
                {{searchPosts}}
            </div>
            <div class="row center w-100">
                {{pagination}}
            </div>
        </div>
    </section>
    
    <section class="col-dt-3 col-mb-10 post-div px-1">
        <div class="box-shadow p-1">
            <h2 class="center">Posts mais lidos</h2>
            {{mostViewsPosts}}
        </div>

        <div class="box-shadow p-1 mt-1">
            <h2 class="center">Posts da semana</h2>
            {{weekPost}}
        </div>
    </section>
</div>