<div class="content">
    <div class="col-form">
        <form method="POST">
            <h1>Bem Vindo(a)</h1>
            <span>Preencha os campos abaixo com suas informações e acesse a melhor comunidade de agropesca do Oeste Paranaense!</span>
            {{message}}
            <input type="text" name="name" placeholder="Nome" value="{{nameInputValue}}">
            <input type="email" name="email" placeholder="Email" value="{{emailInputValue}}">
            <input type="password" name="password" placeholder="Senha">
            <input type="password" name="confirmation-password" placeholder="****">
            <div class="login-div">
                <span>Já possui uma conta? <a href="/login">Login</a></span>
            </div>
            <div class="button-div">
                <button type="submit">Cadastrar-se</button>
            </div>
        </form>
    </div>
    <div class="col-image"></div>
</div>
