<div class="row w-100">
    <h1 class="hidden-mobile hidden-desktop">Agroblog</h1>
    <section class="col-dt-7 col-mb-10 post-div">
        <div class="box-shadow p-1">
            <h2>Confira nossos posts</h2>
            <div class="row w-100">
                {{ourPosts}}
            </div>
        </div>
    </section>
    <section class="col-dt-3 col-mb-10 post-div">
        <div class="box-shadow p-1">
            <h2 class="center">Posts mais lidos</h2>
            {{mostViewsPosts}}
        </div>
    </section>

    <section class="col-dt-7 col-mb-10 post-div">
        <div class="box-shadow p-1">
            <h2>Sugestão dos editores</h2>
            <div class="row w-100">
                {{postSuggestions}}
            </div>
        </div>
    </section>

    <section class="col-dt-3 col-mb-10 post-div">
        <div class="box-shadow">
            <h2 class="center py-1">Categorias</h2>
            {{categories}}
        </div>
    </section>
</div>