<div class="content">
    <div class="col-image"></div>
    <div class="col-form">
        <form method="POST">
            <h1>Login</h1>
            <input type="text" name="email" placeholder="Email" value="{{emailInputValue}}">
            <span class="input-message">{{emailInputMessage}}</span>
            <input type="password" name="password" placeholder="Senha">
            <span class="input-message">{{passwordInputMessage}}</span>
            <div class="cadastro-div">
                <a href="/cadastro">Cadastrar</a>
            </div>
            <div class="button-div">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>
