<div class="row w-100">
    <h1>{{actionPost}} Post</h1>
    {{message}}
    <div class="col-dt-7 col-mb-10 p-1">
        <form action="" method="post" id="div-text" class="row space-between bg-white box-shadow">
            <label for="title">Título</label>
            <input type="text" name="title" id="title" class="input-text" value="{{title}}">
            <label for="description">Descrição</label>
            <input type="text" name="description" id="description" class="input-text" value="{{description}}">
            <span id="select-text">Categoria</span>
            <select name="category_id" id="category">
                {{categories}}
            </select>
            <div class="row w-100" id="div-active">
                <span id="active">Ativo</span>
                <input type="checkbox" id="toggle" name="active" value="active" {{checked}}/>
                <label for="toggle" id="label-toggle"></label>
            </div>
            <textarea name="body" id="textarea">
                {{body}}
            </textarea>
            <button type="submit" id="send">Enviar</button>
        </form>
    </div>
    <div class="col-dt-3 col-mb-10 p-1">
        <form action="/painel/post/{{id}}/image" method="post" enctype="multipart/form-data" class="row center bg-white box-shadow h-100" id="div-miniatura">
            <img id="exibir-miniatura" src="{{imageSrc}}" alt="{{imageAlt}}">
            <label for="image" id="label-miniatura">
                <i class="fa-solid fa-cloud-arrow-up"></i>Fazer Upload
            </label>
            <input type="file" name="image" id="image" accept="image/*">
            <label for="alt">Alt</label>
            <input type="text" name="alt" id="alt" class="input-text" value="{{imageAlt}}">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>