<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        <meta description = "{{metaDescription}}">
        
        <link rel="stylesheet" href="/Resources/css/global.css">
        {{css}}
        {{headerScripts}}
    </head>
    <body>
        <div class="row w-100">
            <div class="col-3">
                {{header}}
            </div>
            <div class="col-7">
                {{content}}
            </div>
        </div>
        {{endBodyScripts}}
    </body>
</html>