<article class="col-dt-33 col-mb-10 post">
    <a href="{{link}}">
        <div class="row w-100">
            <div class="col-dt-3 col-mb-4 center">
                <img src="{{image}}" alt="{{alt}}" loading="lazy">
            </div>
            <div class="col-dt-7 col-mb-6 center">
                <h3>{{title}}</h3>
                <p class="hidden-mobile">
                    {{text}}
                </p>
                <p class="hidden-mobile autor">Por {{autor}}, em {{date}}</p>
            </div>
        </div>
    </a>
</article>