<header id="navbar">
    <nav class="brand row w-100">
        <div class="col-dt-1 col-mb-2 center">
            <a href="/"><img src="/Resources/img/logo.webp" alt="tucunare saindo da agua"></a>
        </div>
        <div class="col-dt-8 col-mb-6 center h-100">
            <form action="/busca" method="post" class="row center h-100">
                <input type="text" name="q" id="q">
                <button value="" type="submit" id="q-button" class="row center">
                    <div id="lupa">
                        <div id="bola"></div>
                        <div id="cabo"></div>
                    </div>
                </button>
            </form>
        </div>
        <div class="col-dt-1 col-mb-2 h-100">
            <div class="row center h-100">
                <button id="menu" class="center p-1">
                    <div class="menu-bar"></div>
                    <div class="menu-bar"></div>
                    <div class="menu-bar"></div>
                </button>
                <div id="dropdown">
                    <ul>
                        {{itemLinks}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>