<div class="flex-card p-05 bg-white box-shadow">
    <div class="col-10 center image-div">
        <img src="{{imageSrc}}" alt="{{imageAlt}}" loading="lazy">
    </div>
    <div class="col-10 center data-post">
        <h2>{{name}}</h2>
        <div class="div-buttons w-100">
            <a href="{{deleteLink}}" class="trash">
                <i class="fa-solid fa-trash"></i>
            </a>
            <a href="{{editLink}}" class="edit">
                <i class="fa-solid fa-pen"></i>
            </a>
        </div>
    </div>
</div>  